In [46]:
########################################
# Categorical variables OK
########################################
import pandas as pd 

dogs = pd.read_csv("datasets/ShelterDogs.csv")
#display(dogs.head(5))
dogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   name               2845 non-null   object
 2   age                2937 non-null   float64
 3   sex                2937 non-null   object
 4   breed              2937 non-null   object
 5   date_found         2937 non-null   object
 6   adoptable_from     2937 non-null   object
 7   posted             2937 non-null   object
 8   color              2937 non-null   object
 9   coat               2937 non-null   object
 10  size               2937 non-null   object
 11  neutered           1852 non-null   object
 12  housebroken        460 non-null    object
 13  likes_people       1999 non-null   object
 14  likes_children     1219 non-null   object
 15  get_along_males    1633 non-null   object
 16  get_along_females  1673 non-null   object
 17  get_along_cats     431 non-null    object
 18  keep_in            1916 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 436.1+ KB

In [47]:
#Converting to a category
dogs["coat"] = dogs["coat"].astype("category")
print(dogs["coat"].value_counts(dropna=False))

#Setting Series categories
dogs["coat"] = dogs["coat"].cat.set_categories(new_categories=["short","medium", "long"])
print(dogs["coat"].value_counts(dropna=False))
#The wirehaired responses have been set to NaN since they are not in the parameter list

short         1972
medium         565
wirehaired     220
long           180
Name: coat, dtype: int64
short     1972
medium     565
NaN        220
long       180
Name: coat, dtype: int64

In [48]:
#setting order of the categories
dogs["coat"] = dogs["coat"].cat.set_categories(new_categories=["short","medium", "long"], ordered=True)
print(dogs["coat"].head(3))

0    short
1    short
2    short
Name: coat, dtype: category
Categories (3, object): ['short' < 'medium' < 'long']

In [49]:
#missing categories and new categories
print(dogs["likes_people"].value_counts(dropna=False))
dogs["likes_people"] = dogs["likes_people"].astype("category")
dogs["likes_people"] = dogs["likes_people"].cat.add_categories(new_categories=["did not check", "could not tell"])
print(dogs["likes_people"].cat.categories)

yes    1991
NaN     938
no        8
Name: likes_people, dtype: int64
Index(['no', 'yes', 'did not check', 'could not tell'], dtype='object')

In [50]:
#new categories added but not new rows
print(dogs["likes_people"].value_counts(dropna=False))

#remove categories
#dogs["coat"] = dogs["coat"].cat.remove_categories(removals=["wirehaired"])

yes               1991
NaN                938
no                   8
did not check        0
could not tell       0
Name: likes_people, dtype: int64

In [51]:
#The goal is to convert the "size" column from the dogs dataset into a ordered categorical pandas Series 
#with the following categories: ["small", "medium", "large"].
    
print(dogs["size"].dtype)

dogs["size"] = dogs["size"].astype("category")
print(dogs["size"].dtype)

dogs["size"] = dogs["size"].cat.set_categories(["small","medium","large"], ordered=True)
print(dogs["size"].value_counts(dropna=False))

object
category
medium    1944
large      519
small      474
Name: size, dtype: int64

In [52]:
#The owner of a local dog adoption agency has listings for almost 3,000 dogs. 
#One of the most common questions they have been receiving lately is: 
#"What type of area was the dog previously kept in?". 
#You are setting up a pipeline to do some analysis 
#and want to look into what information is available regarding the "keep_in" variable
    
# Check frequency counts while also printing the NaN count
print(dogs["keep_in"].value_counts(dropna=False))

# Switch to a categorical variable
dogs["keep_in"] = dogs["keep_in"].astype("category")

# Add new categories
new_categories = ["Unknown History", "Open Yard (Countryside)"]
dogs["keep_in"] = dogs["keep_in"].cat.add_categories(new_categories)

# Check frequency counts one more time
print(dogs["keep_in"].value_counts(dropna=False))

#When the adoption agency starts adding more information to this column, 
#they will need to use one of the five categories now available

both flat and garden    1224
NaN                     1021
garden                   510
flat                     182
Name: keep_in, dtype: int64
both flat and garden       1224
NaN                        1021
garden                      510
flat                        182
Unknown History               0
Open Yard (Countryside)       0
Name: keep_in, dtype: int64

In [54]:
dogs["likes_children"] = dogs["likes_children"].fillna("Maybe")
                              
#Before adopting dogs, parents might want to know whether or not a new dog likes children.
print(dogs["likes_children"].value_counts(dropna=False))

# Switch to a categorical variable
dogs["likes_children"] = dogs["likes_children"].astype("category")

#The owner of the data wants to convert all "Maybe" responses to "no", 
#as it would be unsafe to let a family adapt a dog if it doesn't like children.
# Set "Maybe" to be "no"
# Set "Maybe" to be "no"
dogs.loc[dogs["likes_children"] == "maybe", "likes_children"] = "no"

# Print out categories
print(dogs["likes_children"].cat.categories)

# Print the frequency table
print(dogs["likes_children"].value_counts())

# Remove the "Maybe" category
dogs["likes_children"] = dogs["likes_children"].cat.remove_categories(["Maybe"])
print(dogs["likes_children"].value_counts())

# Print the categories one more time
print(dogs["likes_children"].cat.categories)

Maybe    1718
yes      1172
no         47
Name: likes_children, dtype: int64
Index(['Maybe', 'no', 'yes'], dtype='object')
Maybe    1718
yes      1172
no         47
Name: likes_children, dtype: int64
yes    1172
no       47
Name: likes_children, dtype: int64
Index(['no', 'yes'], dtype='object')

In [55]:
print(dogs["breed"].value_counts(dropna=False))

# Switch to a categorical variable
dogs["breed"] = dogs["breed"].astype("category")
print(dogs["breed"].value_counts())

#rename categories
my_changes = {"Unknown Mix":"Unknown"}
dogs["breed"] = dogs["breed"].cat.rename_categories(my_changes)

print(dogs["breed"].value_counts())

Unknown Mix                                             1524
German Shepherd Dog Mix                                  190
Dachshund Mix                                            147
Labrador Retriever Mix                                    83
Staffordshire Terrier Mix                                 62
                                                        ...
Border Collie, Spaniel Mix                                 1
Bull Terrier, Fox Terrier, Staffordshire Terrier Mix       1
Greyhound, Transylvanian Hound Mix                         1
Komondor Mix                                               1
German Pointer, Greyhound, Pointer Mix                     1
Name: breed, Length: 277, dtype: int64
Unknown Mix                                 1524
German Shepherd Dog Mix                      190
Dachshund Mix                                147
Labrador Retriever Mix                        83
Staffordshire Terrier Mix                     62
                                            ...
English Cocker Spaniel, Vizsla Mix             1
English Greyhound Mix                          1
English Greyhound, Spanish Greyhound Mix       1
Fox Terrier, German Shepherd Dog Mix           1
Yorkshire Terrier                              1
Name: breed, Length: 277, dtype: int64
Unknown                                     1524
German Shepherd Dog Mix                      190
Dachshund Mix                                147
Labrador Retriever Mix                        83
Staffordshire Terrier Mix                     62
                                            ...
English Cocker Spaniel, Vizsla Mix             1
English Greyhound Mix                          1
English Greyhound, Spanish Greyhound Mix       1
Fox Terrier, German Shepherd Dog Mix           1
Yorkshire Terrier                              1
Name: breed, Length: 277, dtype: int64

In [56]:
########################
#collapsing categories
########################
# Switch to a categorical variable
dogs["color"] = dogs["color"].astype("category")
print(dogs["color"].cat.categories)

update_colors = {"black and brown":"black", "black and tan":"black", "black and white":"black"}

dogs["main_color"] = dogs["color"].replace(update_colors)
print(dogs["main_color"].dtype)

dogs["main_color"] = dogs["main_color"].astype("category")
print(dogs["main_color"].cat.categories)

Index(['apricot', 'black', 'black and brown', 'black and tan',
       'black and white', 'brown', 'brown and white', 'dotted', 'golden',
       'gray', 'gray and black', 'gray and white', 'red', 'red and white',
       'sable', 'saddle back', 'spotty', 'striped', 'tricolor', 'white',
       'wild boar', 'yellow', 'yellow-brown'],
      dtype='object')
category
Index(['apricot', 'black', 'brown', 'brown and white', 'dotted', 'golden',
       'gray', 'gray and black', 'gray and white', 'red', 'red and white',
       'sable', 'saddle back', 'spotty', 'striped', 'tricolor', 'white',
       'wild boar', 'yellow', 'yellow-brown'],
      dtype='object')

In [57]:
# Use a lambda function to convert all categories to uppercase using upper()
dogs["main_color"] =  dogs["main_color"].cat.rename_categories(lambda c: c.upper())

# Print the list of categories
print(dogs["main_color"].cat.categories)

Index(['APRICOT', 'BLACK', 'BROWN', 'BROWN AND WHITE', 'DOTTED', 'GOLDEN',
       'GRAY', 'GRAY AND BLACK', 'GRAY AND WHITE', 'RED', 'RED AND WHITE',
       'SABLE', 'SADDLE BACK', 'SPOTTY', 'STRIPED', 'TRICOLOR', 'WHITE',
       'WILD BOAR', 'YELLOW', 'YELLOW-BROWN'],
      dtype='object')

In [58]:
########################
#collapsing categories
########################

# Print the frequency table
print(dogs["main_color"].value_counts())
#GRAY 64 
#GRAY AND BLACK 28
#GRAY AND WHITE 35

# Create the update_coats dictionary
update_coats={"GRAY AND BLACK":"GRAY", "GRAY AND WHITE":"GRAY"}

# Create a new column, coat_collapsed
dogs["color_collapsed"] = dogs["main_color"].replace(update_coats)

# Convert the column to categorical
dogs["color_collapsed"] = dogs["color_collapsed"].astype("category")

# Print the frequency table
print(dogs["color_collapsed"].value_counts())
#GRAY 64+28+38 (127)

BLACK              1252
BROWN               293
YELLOW-BROWN        212
APRICOT             142
BROWN AND WHITE     124
WHITE               124
SABLE               118
TRICOLOR             99
SADDLE BACK          91
STRIPED              89
GRAY                 64
YELLOW               63
GOLDEN               61
RED                  53
SPOTTY               47
GRAY AND WHITE       35
GRAY AND BLACK       28
WILD BOAR            18
RED AND WHITE        14
DOTTED               10
Name: main_color, dtype: int64
BLACK              1252
BROWN               293
YELLOW-BROWN        212
APRICOT             142
GRAY                127
BROWN AND WHITE     124
WHITE               124
SABLE               118
TRICOLOR             99
SADDLE BACK          91
STRIPED              89
YELLOW               63
GOLDEN               61
RED                  53
SPOTTY               47
WILD BOAR            18
RED AND WHITE        14
DOTTED               10
Name: color_collapsed, dtype: int64

In [59]:
dogs["size"] = dogs["size"].cat.reorder_categories(new_categories=["small","medium","large"], ordered=True)
print(dogs.groupby(by=["size"])["age"].mean())
#the average age for each size is shown in the order of the categories of the size column

size
small      7.561857
medium     8.419609
large     10.051503
Name: age, dtype: float64

In [63]:
###################################
#Cleaning categorical variables
#Identifying ISSUES
###################################
dogs = pd.read_csv("datasets/ShelterDogs.csv")
dogs["sex"].value_counts()

male      1681
female    1256
Name: sex, dtype: int64