In [9]:
########################################
# Categorical variables
########################################
import pandas as pd 

adult = pd.read_csv("datasets/adult.csv")
#display(adult.head(5))

# dtypes of all columns
display(adult.info())

#unique values and most common one in the column
display(adult["Marital Status"].describe())

#Frequency of unique values in the column
display(adult["Marital Status"].value_counts())

#Relative Frequency values in the column
display(adult["Marital Status"].value_counts(normalize=True))
#married_civ_spouse makes up 46% of all responses

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              32561 non-null  int64
 1   Workclass        32561 non-null  object
 2   fnlgwt           32561 non-null  int64
 3   Education        32561 non-null  object
 4   Education Num    32561 non-null  int64
 5   Marital Status   32561 non-null  object
 6   Occupation       32561 non-null  object
 7   Relationship     32561 non-null  object
 8   Race             32561 non-null  object
 9   Sex              32561 non-null  object
 10  Capital Gain     32561 non-null  int64
 11  Capital Loss     32561 non-null  int64
 12  Hours/Week       32561 non-null  int64
 13  Country          32561 non-null  object
 14  Above/Below 50k  32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

None

count                   32561
unique                      7
top        Married-civ-spouse
freq                    14976
Name: Marital Status, dtype: object

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: Marital Status, dtype: int64

 Married-civ-spouse       0.459937
 Never-married            0.328092
 Divorced                 0.136452
 Separated                0.031479
 Widowed                  0.030497
 Married-spouse-absent    0.012837
 Married-AF-spouse        0.000706
Name: Marital Status, dtype: float64

In [10]:
########################################
#Exploring a target variable
########################################
# Explore the Above/Below 50k variable
print(adult["Above/Below 50k"].describe())
# Print a frequency table of "Above/Below 50k"
print(adult["Above/Below 50k"].value_counts())
# Print relative frequency values
print(adult["Above/Below 50k"].value_counts(normalize=True))

#Above/Below 50k is a categorical variable with only two categories. 
#Using both the .describe() and .value_counts() methods 
#we see that the dataset is a little imbalanced towards people making less than $50,000.

count     32561
unique        2
top       <=50K
freq      24720
Name: Above/Below 50k, dtype: object
<=50K    24720
>50K      7841
Name: Above/Below 50k, dtype: int64
<=50K    0.75919
>50K     0.24081
Name: Above/Below 50k, dtype: float64

In [17]:
##################################
# Pandas and categorical values
##################################
import pandas as pd 
adult = pd.read_csv("datasets/adult.csv")

display(adult.dtypes)

#column with Object type
display(adult["Marital Status"].dtype)

#Set as categorical with no order
adult["Marital Status"] = adult["Marital Status"].astype("category")
display(adult["Marital Status"].dtype)

Age                 int64
Workclass          object
fnlgwt              int64
Education          object
Education Num       int64
Marital Status     object
Occupation         object
Relationship       object
Race               object
Sex                object
Capital Gain        int64
Capital Loss        int64
Hours/Week          int64
Country            object
Above/Below 50k    object
dtype: object

dtype('O')

CategoricalDtype(categories=[' Divorced', ' Married-AF-spouse', ' Married-civ-spouse',
                  ' Married-spouse-absent', ' Never-married', ' Separated',
                  ' Widowed'],
, ordered=False)

In [21]:
#Using the categorical dtype is a great way to save memory and boost performance. 
#Specifying the dtypes will lower the amount of memory required to load your dataset. 
#This is quite helpful when dealing with large datasets!

#Check the dtypes
print(adult.dtypes)

# Create a dictionary with column names as keys and "category" as values
adult_dtypes = {
   "Workclass": "category",
   "Education": "category",
   "Relationship": "category",
   "Above/Below 50k": "category" 
}

# Read in the CSV using the dtypes parameter
adult2 = pd.read_csv("datasets/adult.csv", dtype=adult_dtypes)
print(adult2.dtypes)

Age                   int64
Workclass            object
fnlgwt                int64
Education            object
Education Num         int64
Marital Status     category
Occupation           object
Relationship         object
Race                 object
Sex                  object
Capital Gain          int64
Capital Loss          int64
Hours/Week            int64
Country              object
Above/Below 50k      object
dtype: object
Age                   int64
Workclass          category
fnlgwt                int64
Education          category
Education Num         int64
Marital Status       object
Occupation           object
Relationship       category
Race                 object
Sex                  object
Capital Gain          int64
Capital Loss          int64
Hours/Week            int64
Country              object
Above/Below 50k    category
dtype: object

In [26]:
###############################
# .groupby categorical values
###############################
#just numerical columns appear
display(adult.groupby(by=["Above/Below 50k"]).mean())

#if large dataset limit the number of columns
display(adult.groupby(by=["Above/Below 50k"])["Age","Education Num"].sum())

#groupby on multiple columns
display(adult.groupby(by=["Above/Below 50k","Marital Status"]).size())

#check if there are enough rows to do analysis

,Age,fnlgwt,Education Num,Capital Gain,Capital Loss,Hours/Week
Above/Below 50k,,,,,,
<=50K,36.783738,190340.86517,9.595065,148.752468,53.142921,38.840210
>50K,44.249841,188005.00000,11.611657,4006.142456,195.001530,45.473026

                    Age  Education Num
Above/Below 50k
<=50K            909294         237190
>50K             346963          91047

Above/Below 50k  Marital Status
<=50K             Divorced                  3980
                  Married-AF-spouse           13
                  Married-civ-spouse        8284
                  Married-spouse-absent      384
                  Never-married            10192
                  Separated                  959
                  Widowed                    908
>50K              Divorced                   463
                  Married-AF-spouse           10
                  Married-civ-spouse        6692
                  Married-spouse-absent       34
                  Never-married              491
                  Separated                   66
                  Widowed                     85
dtype: int64

In [33]:
#####################################################################################
# select the variables before calling a function. 
# Large datatsets might have problems calculating the mean of every numerical column.
#####################################################################################
# Group the adult dataset by "Sex" and "Above/Below 50k"
gb = adult.groupby(by=["Sex","Above/Below 50k"])
# Print out how many rows are in each created group
print(gb.size())
# Print out the mean of each group for all columns
print(gb.mean())

# Create a list of user-selected variables
user_list = ["Education","Above/Below 50k"]
# Create a GroupBy object using this list
gb = adult.groupby(by=user_list)
# Find the mean for the variable "Hours/Week" for each group - Be efficient!
print(gb["Hours/Week"].mean())

Sex      Above/Below 50k
 Female  <=50K               9592
         >50K                1179
 Male    <=50K              15128
         >50K                6662
dtype: int64
                               Age         fnlgwt  Education Num  \
Sex     Above/Below 50k
 Female <=50K            36.210801  185999.381359       9.820475
        >50K             42.125530  183687.406277      11.787108
 Male   <=50K            37.147012  193093.609268       9.452142
        >50K             44.625788  188769.101321      11.580606

                         Capital Gain  Capital Loss  Hours/Week
Sex     Above/Below 50k
 Female <=50K              121.986134     47.364470   35.916701
        >50K              4200.389313    173.648855   40.426633
 Male   <=50K              165.723823     56.806782   40.693879
        >50K              3971.765836    198.780396   46.366106
Education      Above/Below 50k
 Assoc-acdm    <=50K              39.264339
               >50K               44.256604
 Assoc-voc     <=50K              40.817826
               >50K               43.853186
 Bachelors     <=50K              40.586152
               >50K               45.475462
 Doctorate     <=50K              45.429907
               >50K               47.513072
 HS-grad       <=50K              39.727510
               >50K               45.042985
 Masters       <=50K              41.223822
               >50K               45.917623
 Preschool     <=50K              36.647059
 Prof-school   <=50K              42.816993
               >50K               49.092199
 Some-college  <=50K              37.450203
               >50K               44.820476
10th           <=50K              36.574053
               >50K               43.774194
11th           <=50K              33.322870
               >50K               45.133333
12th           <=50K              35.035000
               >50K               44.818182
1st-4th        <=50K              37.864198
               >50K               48.833333
5th-6th        <=50K              38.539432
               >50K               46.000000
7th-8th        <=50K              38.830033
               >50K               47.500000
9th            <=50K              37.667351
               >50K               44.851852
Name: Hours/Week, dtype: float64